body{
    background-color: #fef7e1;
}

.img-profile {
    width: 45vh!important;
}

.center-profile {
    text-align: -webkit-center!important;
}

.img-projects {
    width: 640px!important;
    height: 450px!important;
}

.no-break {
    white-space: nowrap
}